extends ../layout/common 
block header
        h1 Create New Books
        form(action="/books/create", method="POST")
            label Name
            input(type="text",name="name")
            label Description
            input(type="text",name="description")
            button Create