extends ../layout/common 
block header
        .d-flex.align-items-center.justify-content-between
            h1 Books Store
            a.ml-4.mr-4.btn.btn-primary(href="/books/create") Create Books
        form.d-flex.justify-content-center(action="/books/search", method="GET")
                input.form-control(type="text", name="q",value=q,)
                button.ml-2.btn.btn-outline-success Search
        table.table
            thead
                tr
                    th(scope="col") Bookname
                    th(scope="col") Description
                    th(scope="col") Action
            tbody
                each book in books
                    tr  
                        td= book.name
                        td= book.description
                        td
                            a.mr-3.btn.btn-secondary(href="/books/view/" + book.id ) View
                            a.mr-3.btn.btn-secondary(href="/books/update/" + book.id ) Update
                            a.mr-3.btn.btn-secondary(href="/books/" + book.id +"/delete") Delete   
                     

