extends ../layout/common 
block header
    .container
        h1 Books Store
        a(href="/books/create") Create Books
        form(action="/books/search", method="GET",class="form-group")
            .d-flex.justify-content-between
                label(style="width:10%") Tìm kiếm
                input(type="text", name="q",value=q,class="form-control" id="exampleInputEmail1",style="width:80%")
                button.btn.btn-primary Search
            table.table
                tr 
                    th(scope="col") Bookname
                    th(scope="col") Action
                    each book in books
                        tr  
                            td= book.name
                            td
                                a(href="/books/view/" + book.id ) View
                            td
                                a(href="/books/update/" + book.id ) Update
                            td
                                a(href="/books/" + book.id +"/delete") Delete    

