*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.box1{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ddd;
    margin-bottom: 15px;;
}
.box1 img{
    width: 100%;
    height: 250px;
    padding: 15px;
    background-color:#ffff;
}
.box1 a{
    width: 100%;
}
.box1 button{
    width: 100%;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 10px;
    font-size: 20px;
}
.content{
    width: 100%;
    background-color:#3333;
    padding: 15px;;
}
.content p{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #333333;
    text-decoration: none;
    transition: color 0.1s ease-in 0s;
    outline: none;
    margin:0;
    margin-bottom: 5px;;
}
.content h1{
    margin:0;
    font-size: 1.25em;
    color: #27ae61!important;
    font-weight: bold;
    text-align: center;
}






.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}




@import url('https://fonts.googleapis.com/css?family=Righteous');

body{
background-color: #000;
     color:red; 
}
.Wrapper{
  width:540px;
  height:200px;
  display:none;
  margin:4% auto 0;
  max-width:100%;
  max-height:100%;
  position:relative;
  overflow:hidden;
}

#five{
  z-index: 10;
  position: absolute;
}

.left{
  z-index: 1;
  width: 550px;
  height: 200px;
  position: absolute;
  overflow:hidden;
}

.right{
  z-index: 1;
  width: 550px;
  height: 200px;
  position: absolute;
  overflow:hidden;
  left:80%;
}


h1{
 color:#000; 
 background:red;
 padding: 10px;
 border-radius:50px;
 width:150px;
  margin:30px auto 10px;
text-align:center;
font-size:1em;
font-family: 'Righteous', sans-serif;
display:none;
}

p{
 width:350px;
  margin:0px auto;
text-align:center;
font-family: 'Righteous', sans-serif;
display:none;
}