extends ./layout/header 
block header
    .center
        each shop in shops
            .box1
                img(src=shop.coverUrl, alt='')
                .content
                    p= shop.name 
                    
                    p Địa chỉ 
                        span &nbsp; :&nbsp;
                        i=shop.adress
                a(href="/shop/view/" + shop._id  )
                    button(type='button') Xem shop
    
            
