extends ./layout/header 
block header
    .center
        each book in books
            .box1
                img(src=book.coverUrl, alt='')
                .content
                    p= book.name
                    h1 $300.00
                a(href="/cart/add/" + book.id )
                    button(type='button') Add to cart
    
            
