extends ../layout/common 
block header
        h1 Transaction
        form(action="/transaction/create", method="POST")
            label User
            select(name="username")
                    option= users.name
            label Book
            select(name="booksname")
                each book in books
                    option= book.name 
            button Create