extends ../layout/common 
block header
    .container
        h1 Transactions History
        a(href="/transaction/create") Create Transactions
        br
        if errors
            each err in errors
                .alert.alert-danger= err
        table(style="border-spacing: 15px;border: 1px solid black;")
                tr(style="border: 1px solid black;")
                    th Username    
                    th Booksname
                    th Complete
                    th Action  
                    each tran in transactions  
                        tr
                            td= tran.username
                            td= tran.booksname
                            if tran.isComplete === true
                                td Đã trả sách
                            else 
                                td Đang mượn
                            td
                                a(href="/transaction/view/" + tran.id ) View
                            td
                                a(href="/transaction/update/" + tran.id ) Update
                            td
                                a(href="/transaction/" + tran.id +"/delete") Delete
                            if tran.isComplete === true
                                td 
                                    a(href="/transaction/" + tran.id +"/uncomplete") Uncomplete
                            else 
                                td 
                                    a(href="/transaction/" + tran.id +"/complete") Complete
                    

                    