extends ../layout/header 
block header       
                h1 Update transaction
                form(action="/transaction/update/:id",method="POST")
                        label Username &nbsp;
                        span :&nbsp;
                        select(name="username")
                                option= info.userName
                        br 
                        br
                        label Booksname &nbsp;
                        span :&nbsp;
                        select(name="booksname")
                                option= info.booksName 
                                each tran in trans
                                        option= tran.name
                        br 
                        br 
                        input(type="hidden", name="id", value=info.id)
                        button Update