html
    head
        title Book app
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="shortcut icon",href="/image/favicon.ico",type="image/x-icon")
        link(rel="icon",href="/image/favicon.icon",type="image/x-icon")
        link(rel="stylesheet",href="/style/custom.css")
    body
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .collapse.navbar-collapse#navbarNav
                ul(class="navbar-nav")
                    if !users
                        li(class="nav-item active")
                            a.navbar-brand
                                img(src="/image/favicon.ico",width="30" ,height="30")
                        li(class="nav-item active")
                            a(class="nav-link",href="/books") Books 
                        li(class="nav-item active")
                            a(class="nav-link",href="/users")   User
                        li(class="nav-item active")
                            a(class="nav-link",href="/transaction") Transaction
                    else 
                        if users.isAdmin === false
                            li(class="nav-item active")
                                    a.navbar-brand
                                        img(src="/image/favicon.ico",width="30" ,height="30")
                            li(class="nav-item active")
                                a(class="nav-link",href="/transaction") Transaction
                        else 
                            li(class="nav-item active")
                                a.navbar-brand
                                    img(src="/image/favicon.ico",width="30" ,height="30")
                            li(class="nav-item active")
                                a(class="nav-link",href="/books") Books 
                            li(class="nav-item active")
                                a(class="nav-link",href="/users")   User
                            li(class="nav-item active")
                                a(class="nav-link",href="/transaction") Transaction
    .container
        block header