html
    head
        title Book app
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="shortcut icon",href="/image/favicon.ico",type="image/x-icon")
        link(rel="icon",href="/image/favicon.icon",type="image/x-icon")
        link(rel="stylesheet",href="/style/custom.css")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    body
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .collapse.navbar-collapse#navbarNav
                ul(class="navbar-nav")
                    if session === undefined
                        li(class="nav-item active")
                            a.navbar-brand(href="/")
                                img(src="/image/favicon.ico",width="30" ,height="30")
                        li(class="nav-item active")
                            a(class="nav-link",href="/") Home
                        li(class="nav-item active")
                            a(class="nav-link",href="/cart") Cart 
                        li(class="nav-item active")
                            a(class="nav-link",href="/auth/login") Login
                    if !users
                        li(class="nav-item active")
                            a.navbar-brand(href="/")
                                img(src="/image/favicon.ico",width="30" ,height="30")
                        li(class="nav-item active")
                            a(class="nav-link",href="/") Home
                        li(class="nav-item active")
                            a(class="nav-link",href="/cart") Cart (#{session.numberOfBook})
                        li(class="nav-item active")
                            a(class="nav-link",href="/auth/login") Login
                    else 
                        if users.isAdmin === false
                            li(class="nav-item active")
                                    a.navbar-brand(href="/")
                                        img(src="/image/favicon.ico",width="30" ,height="30")
                            li(class="nav-item active")
                                a(class="nav-link",href="/") Home
                            li(class="nav-item active")
                                a(class="nav-link",href="/transaction") Transaction
                            li(class="nav-item active")
                                a(class="nav-link",href="/cart") Cart (#{session.numberOfBook})
                            li(class="nav-item active")
                                a(class="nav-link",href="/profile") Profile
                        else 
                            li(class="nav-item active")
                                a.navbar-brand(href="/")
                                    img(src="/image/favicon.ico",width="30" ,height="30")
                            li(class="nav-item active")
                                a(class="nav-link",href="/books") Books 
                            li(class="nav-item active")
                                a(class="nav-link",href="/cart") Cart (#{session.numberOfBook})
                            li(class="nav-item active")
                                a(class="nav-link",href="/users")   User
                            li(class="nav-item active")
                                a(class="nav-link",href="/transaction") Transaction
                            li(class="nav-item active")
                                a(class="nav-link",href="/profile") Profile
    .container
        block header